p
h3 Maak je eigen applicatie met Ruby on Rails
p
p Met Ruby on Rails kun je zelf website applicaties maken, websites die doen wat jij wilt. Vandaag beginnen we met het maken van een Rails Pet applicatie. Hiermee maken we denkbeeldige huisdieren en hun eten. Omdat we de database vertellen hoe zwaar de dieren mogen worden en hoeveel calorieën er in het eten zit, kan de applicatie ons vertellen of het huisdier al vol zit.
p
p Deze guide is geschreven voor het digiVita Code Event van 14 oktober 2014 in Amsterdam, maar het staat je vrij deze guide te volgen. Je mag hem ook knippen, plakken, kopiëren en aanpassen naar je eigen smaak. Daar doen we niet moeilijk over.
p
p Veel succes!
p 
t Kijk voor meer informatie over 
a href="http://digivita.nl" target="_blank" digiVita op hun website
t .
#digivita