p
H3 Zo maak je de RailsPet
p
t Om een nieuwe rails-app te maken typ je in de Console: 
br
br
.code-container
  code rails new railspet
p
t We maken nu een plek waar alle gegevens opgeslagen worden. Dat noemen we de database en deze maken we zo:
br
br
.code-container
  code  rake db:create  
p
t Maak een Pet-model in de database: 
br
br
.code-container
  code  rails generate scaffold pet name:string max_weight:integer 