p
H3 Zo maak je de RailsPet
p

t 1) In de Console type je 
b < rails new railspet > 
t om een nieuwe Rails-applicatie te maken.

p

t 2) Type nu 
b < rake db:create > 
t om de database aan te maken. Dit is waar we alle gegevens in gaan opslaan.

p

t 3) Omdat we nu een Pet-model in de database willen tik je 
b < rails generate scaffold pet name:string max_weight:integer >