p
H3 We gaan programmeren in Nitrous.io

p Ruby on Rails programmeurs werken meestal met de Terminal en een Text editor. Hiervoor moeten wel een aantal programma's op de computer geïnstalleerd staan. Omdat we daar vandaag te weinig tijd voor hebben, is er gekozen om te programmeren in Nitrous.io. In Nitrous kun je kant-en-klaar programmeren. Het voordeel is dat jullie thuis je werk kunnen laten zien en verder kunnen werken als de applicatie nog niet helemaal af is.

t Wil je thuis liever wel werken met de Terminal en een Text editor? Dan kun je bijvoorbeeld de 
a href="http://guides.railsgirls.com/install/" target="_blank" installatie guide van Rails Girls 
t volgen. (Deze is in het Engels.)
p
t → Ga naar 
a href="https://www.nitrous.io" target="_blank"  Nitrous.io
t  en maak een account aan.
p
#nitrous
p
t Als je geen mailadres hebt om een Nitrous-account aan te maken, kun je eerst een mailadres aanmaken bij 
a href="https://tocomail.com" target="_blank" Tocomail.
p
t → Nitrous stuurt je dan een activeringsmailtje met als onderwerp "Confirm your email to start using Nitrous.IO". Klik op de link in deze mail. Log weer in bij Nitrous en klik op de groene knop met "Open Dashboard".
p
t → Kies nu voor het Ruby on Rails template en geef je applicatie een naam. 
p
#pickbox
p
t → Klik op de oranje knop "Create Box", click op "Next", en "Okay, Take Me to my Box!"
p
t → Ga verder met de instructies voor het maken van de 
= link_to "RailsPet Guide!", railspetguide_path
p